[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:kmyokoyama/hugo-coder.git
[submodule "kmyokoyama.github.io"]
    path = kmyokoyama.github.io
    url = git@github.com:kmyokoyama/kmyokoyama.github.io.git
